.header {
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
    background-color: #9e9e9e;
    box-shadow: 0 15px 30px 4px rgba(0, 0, 0, 0.5);
    font-weight: 600;
}

.header_title {
    cursor: default;
}

.header_nav {
    width: 150px;

    display: flex;
    justify-content: space-around;

    cursor: pointer;
    font-size: 1.2em;
}

/*------------------------------------*/

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.content {
    width: 40%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form_block {
    width: 100%;
    height: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 100px;

    background-color: #eceff1;
    box-shadow: 0 15px 30px 4px rgba(0, 0, 0, 0.5);
}

.form_block .title {
    padding: 30px;
    font-weight: 600;
    font-size: 1.3em;
}

.form {
    width: 80%;
}

.form_group {
    width: 100%;
    position: relative;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 5px 0;
}

.form_control {
    height: 50px;
    width: 50%;
    padding: 0 15px 0 15px;
}

.buttons {
    width: 100%;
    padding: 50px 0 0 0;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btn {
    width: 150px;
    height: 50px;
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.5);
    font-weight: 600;
}

.error_message {
    width: 100%;
    padding-top: 20px;
}

.footer {
    width: 100%;

    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;

    position: absolute;
    bottom: 0;
}

.auth_button {
    font-weight: 600;
    width: 40%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.auth_icon {
    width: 20%;
    height: 20%;
}

.auth_buttons {
    width: 80%;

    display: flex;
    justify-content: space-between;
    padding: 10px 0 20px 0;
}

